<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- <html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      각페이지 추가
       바디태그에 layout:fragment="content"
       build.gradle에 implementation 'nz.net.ultraq.thymeleaf:thymeleaf-layout-dialect'-->
<head>
  <meta charset="UTF-8">
  <title th:text="${pageNm}"></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
<header th:insert="fragments/header :: headerFragment"></header>
<div layout:fragment="content"></div>
<footer th:insert="fragments/footer :: footerFragment"></footer>
</body>
</html>