<!DOCTYPE HTML>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>임보자게시글 등록</title>
   <!-- CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="/css/commonstyle.css" rel="stylesheet">
    <!--datetimepicker-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <!--dropZone-->
<!--    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>-->



</head>
<script th:if="${msg} == 'NO_INSERT'">alert("게시글을 등록하지 못했습니다.")</script>
<script th:if="${msg} == 'FAIL_INSERT'">alert("게시글을 등록 실패했습니다.")</script>
<style>
    #att_zone{
    outline: 2px dashed #92b0b3 ;
    outline-offset:-10px;
    text-align: center;
    transition: all .15s ease-in-out;
    width: 100%;
    height: 200px;
}
</style>

<body layout:fragment="content">
<div class="page" id="page">
    <form id="form" action="/protectboard/write" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_method" value="put" />

        <!--페이지 정보 및 아이디-->
        <input type="hidden" name="page" th:value="${sc.getPage()}" />
        <input type="hidden" name="pageSize" th:value="${sc.getPageSize()}" />
        <input type="hidden" name="keyword" th:value="${sc.getKeyword()}"/>
        <input type="hidden" name="protectboard_userno" th:value="${LoginId}" />


        <input type="hidden" name="fileAttached" th:if="${mode} == 'WRITE'" value="0"/>
        <input type="hidden" name="fileAttached" th:if="${mode} == 'MODIFY'" th:value="${protectboard.fileAttached}">

        <div th:if="${mode} == 'MODIFY'">
            <!--글 수정-->
            <input type="hidden" name="protectboard_ani_category" th:value="${protectboard.protectboard_ani_category}"/>
            <input type="hidden" name="protectstatus" th:value="${protectboard.protectstatus}"/>
            <input type="datetime-local" name="protectboard_reg_date" th:value="${protectboard.getProtectboard_reg_date()}" hidden="hidden"/>
            <input th:if="${mode} == 'MODIFY'" type="hidden" name="protectboardno"  th:value="${protectboard.getProtectboardno()}"/>
        </div>

        <div th:if="${mode} == 'WRITE'">
            <!--글 작성-->
            <input type="hidden" name="protectboard_ani_category" value="false"/>
            <input type="hidden" name="protectstatus" value="false"/>
        </div>


        <section class="container">
            <div class="row">

                <label class="col-sm-2 col-form-label"></label>
                    <div class="col">
                        <div class="input-group">
                            <span class="input-group-text" id="inputGroup-sizing-sm">품종</span>
                            <input th:if="${mode} == 'MODIFY'"   type="text" name="breeds" class="form-control" id="modifyBreeds" placeholder="품종을 입력해주세요" th:value="${protectboard.breeds}" >
                            <input th:if="${mode} == 'WRITE'" type="text" name="breeds" class="form-control" id="writeBreeds" placeholder="품종을 입력해주세요" >
                        </div>
                    </div>
                </label>
            </div>
            <div class="row">
                    <div class="input-group date">
                        <span class="input-group-append">
                            <span class="input-group-text bg-light d-block">
                            <i class="fa fa-calendar"></i>
                            </span>
                        </span>

                        <input th:if="${mode} == 'WRITE'" type="text" class="form-control" id="startDate" name="starttime" readonly placeholder="시작일"/>
                        <input th:if="${mode} == 'MODIFY'" type="text" class="form-control" id="startDate2" name="starttime" readonly th:text="${protectboard.starttime}"/>
                        <span class="input-group-text bg-light d-block">
                            <i class="fa fa-calendar"></i>

                        </span>
                        <input th:if="${mode} == 'WRITE'" type="text" class="form-control" id="endDate" name="deadline" readonly  placeholder="종료일"/>
                        <input th:if="${mode} == 'MODIFY'" type="text" class="form-control" id="endDate2" name="deadline" readonly  th:text="${protectboard.deadline}"/>


                    </div>
                </div>

        </section>

        <div class="form-group row p-2">
            <label class="col-sm-2 col-form-label"><strong>제목</strong></label>
            <div class="col-sm-10">
                <textarea
                        th:if="${mode} == 'MODIFY'"
                        type="text"
                        name="protectboard_title"
                        class="form-control"
                        id="modifyTitle"
                        th:text="${protectboard.protectboard_title}"
                        >
                </textarea>

                <textarea
                        th:if="${mode} == 'WRITE'"
                        type="text"
                        name="protectboard_title"
                        class="form-control"
                        id="writeTitle"
                        >
                  </textarea>
                </label>
            </div>
            <label class="col-sm-2 col-form-label"><strong>내용</strong></label>
            <div class="col-sm-10">
                <textarea
                        th:if="${mode} == 'MODIFY'"
                        type="text"
                        name="protectboard_content"
                        class="form-control"
                        id="modifyContent"
                        th:text="${protectboard.protectboard_content}"
                        style="height: 300px;">
                </textarea>

                <textarea
                        th:if="${mode} == 'WRITE'"
                        type="text"
                        name="protectboard_content"
                        class="form-control"
                        id="writeContent"
                        style="height: 300px;">
                  </textarea>
                </label>
            </div>

        </div>

        <!--이미지 첨부 input type file-->
        <div id="image_preview">
            <div class="input-group mb-3 p-2">


            </div>
        </div>
        <!-- 이전에 첨부한 첨부파일 목록  -->
        <div th:if="${mode == 'MODIFY'}">
            <span id="imgDiv"th:if="${protectboard.fileAttached == 1}">
                <table id="attachTable">
                <!--<span th:each="fileName: ${protectboard.storedFileName}">
                    <td>
                        <img width="100px" height="100px" th:src="@{|/upload/${fileName}|}" alt="이미지 없음" />
                    </td>
                    <td>
                        <button type="button" name="">삭제</button>
                    </td>
                </span>-->
            </table>
            </span>
        </div>

            <label for="btnAtt" >.gif, .jpg, .png만 가능합니다.</label>
            <input type="file" id="btnAtt" class="form-control" name="protectboardFile" multiple="multiple" style="display:none;" accept=".gif, .jpg, .png"  />
            <div id='att_zone' class="row row-col-sm-2 form-control" style="z-index:-1"></div>


        <div class="row p-5">
            <div class="col-auto mr-auto"></div>
            <div class="d-grid col-1 mx-auto">
                <input th:if="${mode} == 'MODIFY'" id="modifyBtn" class="btn btn-primary" role="button" value="수정" />
                <input th:if="${mode} == 'WRITE'" id="writeBtn" class="btn btn-primary"  role="button" value="등록" />
            </div>
        </div>



    </form>




        <button type="button" class="btn btn-secondary"
                th:onclick="|location.href='@{/protectboard/list(page = ${sc.getPage} , pageSize = ${sc.getPageSize} , keyword=${sc.getKeyword})}'|">목록
        </button>

</div>
<script type="text/javascript" src="/js/date-time-picker.js"></script>
<script type="text/javascript" src="/js/dragdrop.js" ></script>
<script th:inline="javascript">
/*<![CDATA[*/

const mode = [[${mode}]];

    // document ready start
    $(document).ready(function(){
        // 수정 버튼 클릭시
        $("#modifyBtn").on("click",function(){
            if(!confirm("수정하시겠습니까 ?")) return;
            let form = $('#form');
            form.attr("action", [[@{/protectboard/modify}]]);
            form.attr("method","post");
            form.submit();
        });

        // 등록 버튼 클릭시
        $("#writeBtn").on("click",function(){
            if(!confirm("등록하시겠습니까 ?")) return;
              console.log( $( this ).serializeArray() );
              event.preventDefault();
            let form = $('#form');
            form.attr("action" , [[@{/protectboard/write}]]);
            form.attr("method","post");
            form.submit();
                   //로그 확인용

        });



        if( [[${mode == 'MODIFY'}]] == true){
            let toHtml = function(protectBoardFileDtoList){
                let tmp = '';
                protectBoardFileDtoList.forEach(function(protectBoardFileDto){
                    tmp += '<span>';
                    tmp += '<td>';
                    tmp += '<img width="100px" height="100px" src="/upload/'+protectBoardFileDto.stored_file_name+'" alt="이미지 없음" />';
                    tmp += '</td>';
                    tmp += '<td data-protectboardfileno='+ protectBoardFileDto.protectboardfileno + ' >';
                    tmp += '<button type="button" class="removeBtn" id="btn'+protectBoardFileDto.protectboardfileno+'">삭제</button>';
                    tmp += '</td>';
                    tmp += '</span>';
                });
                return tmp;
            }

            // 수정시 게시판 번호 가져오기
            let protectboardno = $('input[name=protectboardno]').val();

            // 첨부 파일 삭제 후 다시 보여주기 위함
            let showImgList = function(){
                $.ajax({
                    type : 'GET',
                    url : '/protectboard/file?protectboardno='+protectboardno,
                    dataType : 'json',
                    success : function(protectBoardFileDtoList){
                        $('#attachTable').html(toHtml(protectBoardFileDtoList));
                    },
                    error : function(){
                        alert("ERROR");
                    }
                });
            }

            $(document).on("click", ".removeBtn" ,function(){
                    let protectboardfileno = $(this).parent().attr('data-protectboardfileno');
                    $.ajax({
                        type : 'DELETE',
                        url : '/protectboard/file/'+protectboardfileno,
                        success : function(str){
                            alert(str);
                            showImgList();
                            return;
                        },
                        error : function(){
                            alert("ERROR");
                        }
                    })
                });
                showImgList();
            }
    });

    // document ready end



    var submitted = false;

    $(document).ready(function() {
        $("form").submit(function() {

            submitted = true;
        });

        window.onbeforeunload = function () {
            if (!submitted) {
                return 'Do you really want to leave the page?';
            }

        };
    });





    /*]]>*/
</script>
</body>
</html>