<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>임보자상세페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link href="/css/commonstyle.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

</head>
<style>

</style>

<body layout:fragment="content">
<script th:if="${msg} == 'SUCCESS_UPDATE'">alert("게시글을 수정했습니다.")</script>
<script th:if="${msg} == 'FAIL_UPDATE'">alert("게시글을 수정하지 못했습니다.")</script>
<script th:if="${msg} == 'FAIL_REMOVE'">alert("게시글을 삭제하지 못했습니다.")</script>
<script th:if="${msg} == 'SUCCESS_INSERT'">alert("게시글을 등록했습니다.")</script>
<div class="page">


    <form id="form" action="" method="post">

        <div class="col-5 p-3" >
            <!-- 페이지 정보 및 게시물 번호 , 작성자 form input-->
            <input type="hidden" name="page" th:value="${sc.getPage()}"/>
            <input type="hidden" name="pageSize" th:value="${sc.getPageSize()}"/>
            <input type="hidden" name="keyword" th:value="${sc.getKeyword()}"/>
            <input type="hidden" name="protectboard_userno" th:value="${LoginId}"/>
            <input type="hidden" name="protectboardno" th:value="${protectboard.protectboardno}"/>
            <input type="hidden" name="protectstatus" th:value="${protectboard.protectstatus}"/>
          
            <!-- 동물 카테고리 , 작성일 , 마감일 form input  -->
            <!-- 프론트가 수정 필요 -->
            <input type="hidden" name="protectboard_ani_category" th:value="${protectboard.protectboard_ani_category}"/>
            <input type="date" name="protectboard_reg_date" th:value="${#dates.format(protectboard.protectboard_reg_date, 'yyyy-MM-dd')}" id="reg_date" readonly="readonly " hidden="hidden"/>
<!--            <input type="date" name="starttime" th:value="${#dates.format(protectboard.starttime, 'yyyy-MM-dd HH:mm:ss')}"id="starttime" readonly="readonly" hidden="hidden"/>-->
<!--            <input type="date" name="deadline" th:value="${#dates.format(protectboard.deadline, 'yyyy-MM-dd')}"id="deadline" readonly="readonly" hidden="hidden"/>-->
        </div>

        <!--태그-->
        <span th:if="${protectboard.breeds != null}" class="badge text-bg-primary" th:text="${protectboard.breeds}" >품종</span>
        <span th:if="${#bools.isTrue(protectboard.protectstatus)}" class="badge rounded-pill text-bg-success ">완료</span>
        <span th:if="${#bools.isFalse(protectboard.protectstatus)}" class="badge rounded-pill text-bg-info ">공고중</span>
        <span class="badge rounded-pill text-bg-warning"th:text="|남은날짜 :${#dates.format(protectboard.deadline, 'yyyy-MM-dd')}|" name="deadline"> 남은날짜 : </span>
        <span class="badge rounded-pill text-bg-danger" id="D_day" text="남은일"></span>

        <div class="row ms-auto">
            <div class="col">
            <span><a href="#" title="즐겨찾기"><i class="fa-solid fa-star fa-2xl" style="color: #ffdd00;"></i></a></span>
            <span><a href="#" title="신고"><i class="fa-solid fa-triangle-exclamation fa-2xl" style="color: #ff0000;"></i></a></span>
            </div>
        </div>

        <div class="row">
            <div class="form-floating">
                <input type="text" readonly="readonly" class="form-control-plaintext"
                       name="breeds"
                       id="floatingEmptyPlaintextInput"
                       placeholder="boardtitle"
                       th:value="${protectboard.breeds}">
                <label for="floatingEmptyPlaintextInput">품종</label>
            </div>
        </div>
        <input type="text" name="protectboard_title" id="protectboard_title" th:value="${protectboard.protectboard_title}">

        <div class="row">
            <div class="col-mb-3">
                <!-- 이미지 UrlResoure 처리하는 컨트롤러 필요 -->

                <div class="col-sm-6">

                    <img th:src="'data:image/jpeg;base64,'+${protectboard.protectboard_imagepath}" class="img-fluid" />

                </div>

                <textarea
                        type="text"
                        name="protectboard_content"
                        class="form-control"
                        id="inputContent"
                        th:text="${protectboard.protectboard_content}"
                        readonly="readonly"
                        style="height: 300px;border:none"></textarea>
            </div>
        </div>


        <!-- 작성자 및 작성일 표시 -->
        <div class="col">
            <span th:text="| 작성일 : ${#dates.format(protectboard.protectboard_reg_date, 'yyyy-MM-dd')}" >작성일:</span>
            <span th:text="| 작성자 : ${protectboard.protectboard_userno}|">작성자:</span>
        </div>
        <div class="col-5 p-3" >
            <button type="button" class="btn btn-secondary"
                    th:onclick="|location.href='@{/protectboard/list(page = ${sc.getPage} , pageSize = ${sc.getPageSize} , keyword=${sc.getKeyword} )}'|">목록
            </button>

            <!-- 로그인 사용자와 게시물 작성자가 일치할 경우 삭제 , 수정 버튼 표  -->
            <span th:if="${WriterCheck} == 'OK'">
                <button type="button" class="btn btn-danger" id="removeBtn">삭제</button>
                <button type="button" class="btn btn-secondary" id="modifyBtn">수정</button>
            </span>
        </div>
    </form>
</div>
<script th:inline="javascript">
/*<![CDATA[*/

const list = [[${protectboard}]];
console.log(list);

    // 수정 버튼 클릭시 수정 페이지로 이동
    $("#modifyBtn").on("click",function(){
        if(!confirm("수정하시겠습니까 ?")) return;
        let form = $('#form');
        form.attr("action" , [[@{/protectboard/modify}]]);
        form.attr("method" , "get");
        form.submit();

    });

    // 삭제 버튼 클릭시 해당 게시물 삭제
    $("#removeBtn").on("click",function(){
        if(!confirm("정말로 삭제하시겠습니까 ?")) return;
        let form = $('#form');
        form.attr("action", [[@{/protectboard/remove}]]);
        form.attr("method", "post");
        form.submit();
    });


//날짜계산

const d_day = document.querySelector('#D_day');
function D-Day(){


    const start_date= new Date([[${#dates.format(protectboard.starttime, 'yyyy-MM-dd')}]]);
    const end_date= new Date([[${#dates.format(protectboard.deadline, 'yyyy-MM-dd')}]]);


    const now = new Date(); //현재시간 추출용
    const formattedDate = `${now.getFullYear()}-${now.getMonth() + 1}-${now.getDate()}`;//yyyy-MM-dd 형식
    const today_date = new Date(formattedDate);//Date로 변환

    const diff = end_date.getTime() - today_date.getTime();

    console.log(today_date);
    console.log([[${#dates.format(protectboard.deadline, 'yyyy-MM-dd')}]]);

    let diffDay = Math.floor(diff / (1000*60*60*24));

    //남은 날짜가 음수인경우 0
        if(diffDay < 0) {
            diffDay = "0";
            d_day.innerText=`D-${diffDay}일`;
        }else{
            d_day.innerText=`D-${diffDay}일`;
        }
    console.log(diffDay);
    }
    D-Day();

/*]]>*/
</script>
</body>
</html>