<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>임보자상세페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <link href="/css/commonstyle.css" rel="stylesheet">
</head>
<style>

</style>

<body layout:fragment="content">
<script th:if="${msg} == 'SUCCESS_UPDATE'">alert("게시글을 수정했습니다.")</script>
<script th:if="${msg} == 'FAIL_UPDATE'">alert("게시글을 수정하지 못했습니다.")</script>
<script th:if="${msg} == 'FAIL_REMOVE'">alert("게시글을 삭제하지 못했습니다.")</script>
<script th:if="${msg} == 'SUCCESS_INSERT'">alert("게시글을 등록했습니다.")</script>
<div class="page">


    <form id="form" action="" method="post">

        <div class="col-5 p-3" >
            <!-- 페이지 정보 및 게시물 번호 , 작성자 form input-->
            <input type="hidden" name="page" th:value="${sc.getPage()}"/>
            <input type="hidden" name="pageSize" th:value="${sc.getPageSize()}"/>
            <input type="hidden" name="keyword" th:value="${sc.getKeyword()}"/>
            <input type="hidden" name="protectboard_userno" th:value="${LoginId}"/>
            <input type="hidden" name="protectboardno" th:value="${protectboard.protectboardno}"/>
            <input type="hidden" name="protectstatus" th:value="${protectboard.protectstatus}"/>
          
            <!-- 동물 카테고리 , 작성일 , 마감일 form input  -->
            <!-- 프론트가 수정 필요 -->
            <input type="hidden" name="protectboard_ani_category" th:value="${protectboard.protectboard_ani_category}"/>
            <input type="date" name="protectboard_reg_date" th:value="${protectboard.protectboard_reg_date}" id="reg_date" readonly="readonly " hidden="hidden"/>
            <input type="date" name="starttime" th:value="${protectboard.starttime}"id="starttime" readonly="readonly" hidden="hidden"/>
            <input type="date" name="deadline" th:value="${protectboard.deadline}"id="deadline" readonly="readonly" hidden="hidden"/>
           
        </div>
        <!--태그-->
        <span th:if="${protectboard.breeds != null}" class="badge text-bg-primary" th:value="${protectboard.breeds}" >품종</span>
        <span th:if="${#bools.isTrue(protectboard.protectstatus)}" class="badge rounded-pill text-bg-success ">완료</span>
        <span th:if="${#bools.isFalse(protectboard.protectstatus)}" class="badge rounded-pill text-bg-info ">공고중</span>
        <span class="badge rounded-pill text-bg-warning"th:text="|마감일 :${#dates.format(protectboard.deadline, 'dd/MMM/yyyy HH:mm')}|" name="deadline"> 마감일 : </span>
        <div class="row">
            <div class="form-floating">
                <input type="text" readonly="readonly" class="form-control-plaintext"
                       name="breeds"
                       id="floatingEmptyPlaintextInput"
                       placeholder="boardtitle"
                       th:value="${protectboard.breeds}">
                <label for="floatingEmptyPlaintextInput">품종</label>
            </div>
        </div>
        <input type="text" name="protectboard_title" id="protectboard_title" th:value="${protectboard.protectboard_title}">
        <div class="row">
            <div class="col-mb-3">
                <!-- 이미지 UrlResoure 처리하는 컨트롤러 필요 -->
                <div class="col-sm-6" th:each="image:${protectboard.protectboard_imagepath}" th:if="${not #strings.isEmpty(protectboard.protectboard_imagepath)}">
<!--                      <img th:src="@{/protect/board/image/${img.protectboard_imagepath}}" class="img-fluid" alt="">-->
                    <img th:src="'data:image/jpeg;base64,'+${image}" class="img-fluid" />
                    </div>
                <textarea
                        type="text"
                        name="protectboard_content"
                        class="form-control"
                        id="inputContent"
                        th:text="${protectboard.protectboard_content}"
                        readonly="readonly"
                        style="height: 300px;border:none"></textarea>
            </div>
        </div>


        <!-- 작성자 및 작성일 표시 -->
        <div class="col">
            <span th:text="| 작성일 : ${protectboard.protectboard_reg_date}|" >작성일:</span>
            <span th:text="| 작성자 : ${protectboard.protectboard_userno}|">작성자:</span>
        </div>
        <div class="col-5 p-3" >
            <button type="button" class="btn btn-secondary"
                    th:onclick="|location.href='@{/protectboard/list(page = ${sc.getPage} , pageSize = ${sc.getPageSize} , keyword=${sc.getKeyword} )}'|">목록
            </button>

            <!-- 로그인 사용자와 게시물 작성자가 일치할 경우 삭제 , 수정 버튼 표  -->
            <span th:if="${WriterCheck} == 'OK'">
                <button type="button" class="btn btn-danger" id="removeBtn">삭제</button>
                <button type="button" class="btn btn-secondary" id="modifyBtn">수정</button>
            </span>
        </div>
    </form>
</div>
<script>
    // 수정 버튼 클릭시 수정 페이지로 이동
    $("#modifyBtn").on("click",function(){
        if(!confirm("수정하시겠습니까 ?")) return;
        let form = $('#form');
        form.attr("action" , "[[@{/protectboard/modify}]]");
        form.attr("method" , "get");
        form.submit();

    });

    // 삭제 버튼 클릭시 해당 게시물 삭제
    $("#removeBtn").on("click",function(){
        if(!confirm("정말로 삭제하시겠습니까 ?")) return;
        let form = $('#form');
        form.attr("action", "[[@{/protectboard/remove}]]");
        form.attr("method", "post");
        form.submit();
    });

</script>
</body>
</html>