<!DOCTYPE HTML>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>임보자게시글 등록</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <!--fontawesome&기타-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="/css/commonstyle.css" rel="stylesheet">
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--datetimepicker-->
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

    <!--dropZone-->
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js" defer></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css"/>

</head>
<script th:if="${msg} == 'NO_INSERT'">alert("게시글을 등록하지 못했습니다.")</script>
<script th:if="${msg} == 'FAIL_INSERT'">alert("게시글을 등록 실패했습니다.")</script>
<style>
    #att_zone{
        outline: 2px dashed #92b0b3 ;
        outline-offset:-10px;
        text-align: center;
        transition: all .15s ease-in-out;
        width: 100%;
        height: 200px;
    }
</style>

<body layout:fragment="content">
<div class="page" id="page">
    <form id="form" action="" method="post" enctype="multipart/form-data" >
        <input type="hidden" name="_method" value="put" />

        <!--페이지 정보 및 아이디-->
        <input type="hidden" name="page" th:value="${sc.getPage()}" />
        <input type="hidden" name="pageSize" th:value="${sc.getPageSize()}" />
        <input type="hidden" name="keyword" th:value="${sc.getKeyword()}"/>
        <input type="hidden" name="protectboard_userno" id="protectboard_userno" th:value="${LoginId}" />


        <input type="hidden" name="fileAttached" th:if="${mode} == 'WRITE'" value="0"/>
        <input type="hidden" name="fileAttached" th:if="${mode} == 'MODIFY'" th:value="${protectboard.fileAttached}">

        <div th:if="${mode} == 'MODIFY'">
            <!--글 수정-->
            <!-- protectstatus , protectboard_ani_category 값 변경하는 버튼 필요. -->
            <input type="hidden" name="protectboard_ani_category" id="protectboard_ani_category2" th:value="${protectboard.protectboard_ani_category}"/>
            <input type="hidden" name="protectstatus" id="protectstatus2" th:value="${protectboard.protectstatus}"/>
            <input type="date" name="protectboard_reg_date" th:value="${protectboard.getProtectboard_reg_date()}" hidden="hidden"/>
            <input th:if="${mode} == 'MODIFY'" type="hidden" name="protectboardno"  th:value="${protectboard.getProtectboardno()}"/>
        </div>

        <div th:if="${mode} == 'WRITE'">
            <!--글 작성-->
            <!-- protectstatus , protectboard_ani_category 값 설정하는 버튼 필요. -->
            <input th:if="${mode} == 'WRITE'" type="hidden" name="protectboardno" id="writePbn"/>
            <input type="hidden" name="protectstatus" id="protectstatus" value="false"/>
            <input type="hidden" name="protectboard_ani_category" id="protectboard_ani_category" value="false"/>
            <input type="hidden" name="protectboard_ani_category" value="false"/>
            <input type="hidden" name="protectstatus" value="false"/>
        </div>

        <section class="container">
            <div class="row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text" id="inputGroup-sizing-sm">품종</span>
                        <input th:if="${mode} == 'WRITE'" type="text" name="breeds" class="form-control" id="writeBreeds" placeholder="품종을 입력해주세요" >
                        <input th:if="${mode} == 'MODIFY'"   type="text" name="breeds" class="form-control" id="modifyBreeds" placeholder="품종을 입력해주세요" th:value="${protectboard.breeds}" >
                    </div>
                </div>
                </label>
            </div>
            <div class="row">
                <div class="input-group date">
                        <span class="input-group-append">
                            <span class="input-group-text bg-light d-block">
                            <i class="fa fa-calendar"></i>
                            </span>
                        </span>

                    <input th:if="${mode} == 'WRITE'" type="text" class="form-control" id="startDate" name="starttime" readonly placeholder="시작일"/>
                    <input th:if="${mode} == 'MODIFY'" type="text" class="form-control" id="startDate2" name="starttime" readonly th:text="${#dates.format(protectboard.starttime, 'yyyy-MM-dd HH:ss')}"/>
                    <span class="input-group-text bg-light d-block">
                            <i class="fa fa-calendar"></i>

                        </span>
                    <input th:if="${mode} == 'WRITE'" type="text" class="form-control" id="endDate" name="deadline" readonly  placeholder="종료일" />
                    <input th:if="${mode} == 'MODIFY'" type="text" class="form-control" id="endDate2" name="deadline" readonly  th:text="${#dates.format(protectboard.deadline, 'yyyy-MM-dd HH:ss')}"/>


                </div>
            </div>

        </section>

        <div class="form-group row p-2">
            <label class="col-sm-2 col-form-label"><strong>제목</strong></label>
            <div class="col-sm-10">
                <textarea
                        th:if="${mode} == 'MODIFY'"
                        type="text"
                        name="protectboard_title"
                        class="form-control"
                        id="modifyTitle"
                        th:text="${protectboard.protectboard_title}"
                >
                </textarea>

                <textarea
                        th:if="${mode} == 'WRITE'"
                        type="text"
                        name="protectboard_title"
                        class="form-control"
                        id="writeTitle"
                >
                  </textarea>
                </label>
            </div>
            <label class="col-sm-2 col-form-label"><strong>내용</strong></label>
            <div class="col-sm-10">
                <textarea
                        th:if="${mode} == 'MODIFY'"
                        type="text"
                        name="protectboard_content"
                        class="form-control"
                        id="modifyContent"
                        th:text="${protectboard.protectboard_content}"
                        style="height: 300px;">
                </textarea>

                <textarea
                        th:if="${mode} == 'WRITE'"
                        type="text"
                        name="protectboard_content"
                        class="form-control"
                        id="writeContent"
                        style="height: 300px;">
                  </textarea>
                </label>
            </div>

        </div>

        <!--이미지 첨부 input type file-->
        <div id="image_preview">
            <div class="input-group mb-3 p-2">
                <input type="file" id="btnAtt" class="form-control" name="protectboardFile" multiple="multiple" />
            </div>
        </div>
        <!-- 이전에 첨부한 첨부파일 목록  -->
        <div th:if="${mode == 'MODIFY'}">
            <span id="imgDiv"th:if="${protectboard.fileAttached == 1}">
                <table id="attachTable">
                <!--<span th:each="fileName: ${protectboard.storedFileName}">
                    <td>
                        <img width="100px" height="100px" th:src="@{|/upload/${fileName}|}" alt="이미지 없음" />
                    </td>
                    <td>
                        <button type="button" name="">삭제</button>
                    </td>
                </span>-->
            </table>
            </span>
        </div>

        <div class="dropzone" id="my-dropzone" ></div>
        <div class="row p-5">
            <div class="col-auto mr-auto"></div>
            <div class="d-grid col-1 mx-auto">
                <input th:if="${mode} == 'MODIFY'" id="modifyBtn" class="btn btn-primary submitBtn" role="button" value="수정" />
                <input th:if="${mode} == 'WRITE'" id="writeBtn" class="btn btn-primary submitBtn"  role="button" value="등록" />
            </div>
        </div>
        <button type="button" class="btn btn-secondary"
                th:onclick="|location.href='@{/protectboard/list(page = ${sc.getPage} , pageSize = ${sc.getPageSize} , keyword=${sc.getKeyword})}'|">목록
        </button>
    </form>
</div>
<script type="text/javascript" src="/js/date-time-picker.js"></script>
<script type="text/javascript" src="/js/image-drop-zone.js" defer></script>
<script>
    // 드롭존 스크립트
    var dropzone;
    document.addEventListener("DOMContentLoaded" ,function(){
        Dropzone.autoDiscover = false; // deprecated 된 옵션. false로 해놓는걸 공식문서에서 명시

        dropzone = new Dropzone('#my-dropzone', {

            url: 'http://localhost:8080/protectboard/uploadFile', // 파일을 업로드할 서버 주소 url.
            method: 'post', // 기본 post로 request 감. put으로도 할수있음

            autoProcessQueue: false, // 자동으로 보내기. true : 파일 업로드 되자마자 서버로 요청, false : 서버에는 올라가지 않은 상태. 따로 this.processQueue() 호출시 전송
            clickable: true, // 클릭 가능 여부
            autoQueue: false, // 드래그 드랍 후 바로 서버로 전송
            createImageThumbnails: true, //파일 업로드 썸네일 생성

            thumbnailHeight: 120, // Upload icon size
            thumbnailWidth: 120, // Upload icon size

            maxFiles: 10, // 업로드 파일수
            maxFilesize: 100, // 최대업로드용량 : 100MB
            paramName: 'file', // 서버에서 사용할 formdata 이름 설정 (default는 file)
            parallelUploads: 1, // 동시파일업로드 수(이걸 지정한 수 만큼 여러파일을 한번에 넘긴다.)
            uploadMultiple: false, // 다중업로드 기능
            timeout: 300000, //커넥션 타임아웃 설정 -> 데이터가 클 경우 꼭 넉넉히 설정해주자

            addRemoveLinks: true, // 업로드 후 파일 삭제버튼 표시 여부
            dictRemoveFile: '삭제', // 삭제버튼 표시 텍스트

            init: function () {
                // 최초 dropzone 설정시 init을 통해 호출
                console.log('최초 실행');
                let myDropzone = this; // closure 변수 (화살표 함수 쓰지않게 주의)

                // 서버에 제출 submit 버튼 이벤트 등록
                document.querySelector('.submitBtn').addEventListener('click', function () {

                });

                // 업로드한 파일을 서버에 요청하는 동안 호출 실행
                this.on('sending', function (file, xhr, formData) {
                    console.log('보내는중');
                });

                // 서버로 파일이 성공적으로 전송되면 실행
                this.on('success', function (file, responseText) {
                    console.log('성공');
                });

                // 업로드 에러 처리
                this.on('error', function (file, errorMessage) {
                    alert(errorMessage);
                });

            },

        });
    })
</script>
<script th:inline="javascript">
    /*<![CDATA[*/

    let pageMode = [[${mode}]];

    if(pageMode == "MODIFY"){
        let currentFileAttached = $('input[name=fileAttached]').val();
        let protectbn = $('input[name=protectboardno]').val();
        let protectBFDL;
        let showImgList = function () {
            $.ajax({
                type: 'GET',
                url: '/protectboard/file?protectboardno=' + protectbn,
                dataType: 'json',
                success: function (protectBoardFileDtoList) {
                    //$('#attachTable').html(toHtml(protectBoardFileDtoList));
                    displayImg(protectBoardFileDtoList)
                    },
                error: function () {alert("ERROR"); }
            });
        }

        /*let toHtml = function (protectBoardFileDtoList) {
            let tmp = '';
            protectBoardFileDtoList.forEach(function (protectBoardFileDto) {
                tmp += '<span>';
                tmp += '<td>';
                tmp += '<img width="100px" height="100px" data-size=""+protectboardFileDto.fileSize id="img' + protectBoardFileDto.protectboardfileno + '" src="/upload/' + protectBoardFileDto.stored_file_name + '" alt="이미지 없음" />';
                tmp += '</td>';
                tmp += '</span>';
            });
            return tmp;
        }*/

        let displayImg = function(protectBoardFileDtoList){
            protectBoardFileDtoList.forEach(function(protectBoardFileDto){
                let mockFile = {name: protectBoardFileDto.storedFileName , size : protectBoardFileDto.fileSize}
                dropzone.displayExistingFile(mockFile , 'http://localhost:8080/upload/'+protectBoardFileDto.stored_file_name);
            });
        }
        showImgList()



    }
    // document ready start
    $(document).ready(function(){






        // 수정 버튼 클릭시
        $("#modifyBtn").on("click",function(){
            if(!confirm("수정하시겠습니까 ?")) return;
            let form = $('#form');
            form.attr("action", [[@{/protectboard/modify}]]);
            form.attr("method","post");
            form.submit();
        });

        let setQueryString = function(key , value){
            let str = key+'='+value+'&';
            return str;
        }

        // 등록 버튼 클릭시, 게시물 데이터와 이미지 정보를 전송하여 게시물 등록 후 이미지 데이터 저장
        $("#writeBtn").on("click",function(){
            console.log("게시물 등록 및 업로드")

            // input 데이터 가져오기 , ajax로 통신할 경우 input 태그를 사용할 이유가 없음 - 수정 필요.
            let protectboard_userno = $('input[name=protectboard_userno]').val();
            let protectboard_title = $('#writeTitle').val();
            let protectboard_content = $('#writeContent').val();
            let breeds = $('#writeBreeds').val();
            let protectboard_ani_category = $('#protectboard_ani_category').val();
            let protectstatus = $('#protectstatus').val();
            let starttime = $('#startDate').val();
            let deadline = $('#endDate').val();
            let fileAttached = $('input[name=fileAttached]').val();

            if (dropzone.getRejectedFiles().length > 0) {
                let file = dropzone.getRejectedFiles();
                console.log('거부된 파일이 있습니다.', file);
                return;
            }

            // 드롭존에서 파일 가져온다.
            let files = dropzone.files;

            // 전송할 폼 객체 생성
            let formData = new FormData();

            // 파일이 없다면 파일을 전송하지 않음
            if(files.length != 0) {
                for(let i = 0 ; i < files.length ; i++){
                    formData.append("protectboardFile" , files[i]);
                }
            }
                // 폼 데이터 등록
            formData.append("protectboard_userno" , protectboard_userno);
            formData.append("protectboard_title" , protectboard_title);
            formData.append("protectboard_content",protectboard_content);
            formData.append("breeds" , breeds);
            formData.append("protectboard_ani_category" , protectboard_ani_category);
            formData.append("protectstatus" , protectstatus);
            formData.append("starttime" , new Date(starttime));
            formData.append("deadline", new Date(deadline));
            formData.append("fileAttached",fileAttached);


            let pbn;
            $.ajax({
                type : 'POST',
                url : '/protectboard/regi',
                data : formData,
                async : false,
                enctype: "multipart/form-data",
                processData : false,
                contentType : false,
                success :function(data){
                    pbn = data;
                },
                error : function(){}
            });

            $('#writePbn').val(pbn);

            let form = $('#form');
            /*form.attr("action",[[@{/protectboard/read(protectboardno = pbn , page=${sc.getPage()} , pageSize = ${sc.getPageSize()} , keyword=${sc.getKeyword()} ) } ]]);*/
            form.attr( "action", [[@{/protectboard/read}]] );
            form.attr("method","get");
            form.submit();


        });
       /* if( [[${mode == 'MODIFY'}]] == true) {


            // 수정시 게시판 번호 가져오기
            let protectboardno = $('input[name=protectboardno]').val();

            // 첨부 파일 삭제 후 다시 보여주기 위함
            let showImgList = function () {
                $.ajax({
                    type: 'GET',
                    url: '/protectboard/file?protectboardno=' + protectboardno,
                    dataType: 'json',
                    success: function (protectBoardFileDtoList) {
                        $('#attachTable').html(toHtml(protectBoardFileDtoList));
                    },
                    error: function () {
                        alert("ERROR");
                    }
                });
            }

            // 이미지 삭제 버튼 클리시 ( dropzone 이전에 만든 것 )
            $(document).on("click", ".removeBtn", function () {
                let protectboardfileno = $(this).parent().attr('data-protectboardfileno');
                $.ajax({
                    type: 'DELETE',
                    url: '/protectboard/file/' + protectboardfileno,
                    success: function (str) {
                        alert(str);
                        showImgList();
                        return;
                    },
                    error: function () {
                        alert("ERROR");
                    }
                })
            });
            showImgList();*
        }*/
    // document ready end
    var submitted = false;

    $(document).ready(function() {
        $("form").submit(function () {

            submitted = true;
        });

        window.onbeforeunload = function () {
            if (!submitted) {
                return 'Do you really want to leave the page?';
            }

        };
    })});
    /*]]>*/
</script>
</body>
</html>
