<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>상세페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    button {
        float : right;
    }
    @media (min-width: 768px) {
      .page {
        width: 600px;
      }
    }

    @media (min-width: 992px) {
      .page {
        width: 940px;
      }
    }

    @media (min-width: 1200px) {
      .page {
        width: 940px;
      }
    }

  .page {
        margin: 0 auto;
        padding: 50px;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
</style>
<body layout:fragment="content">
<div class="page">
<span class="fs-6">태그</span>
<span th:if="${boardDto.ani_category == 2}" class="badge text-bg-primary">고양이</span>
<span th:if="${boardDto.ani_category == 1}" class="badge rounded-pill text-bg-secondary">강아지</span>    


    <div class="row">
        <div class="form-floating">
            <input type="text" readonly class="form-control-plaintext"
            id="floatingEmptyPlaintextInput"
            placeholder="boardtitle"
            th:value="${boardDto.title}">
        <label for="floatingEmptyPlaintextInput">제목</label>
        </div>
    </div>

    <div class="row">
        <div class="col-mb-3">
                  <div class="col-sm-6" th:each="img:${boardDto}" th:if="${boardDto != null}">
                    <img src="${img.boardimagepath}" class="img-fluid" alt="빈이미지">
                  </div>
            <textarea
                type="text"
                name="content"
                class="form-control"
                id="inputContent"
                th:value="${boardDto.content}"
                readonly="readonly"
                style="height: 300px;border:none"
            ></textarea>
        </div>
    </div>

    <div class="row">
        <span th:text="| 작성일 : ${boardDto.reg_date}|">작성일:</span>
        <span th:text="| 조회수 : ${boardDto.viewcount}|">조회수:</span>
        <span th:text="| 작성자 : ${boardDto.board_users_id}|">작성자:</span>
    </div>

<!--댓글-->
    <div class="cm_list">

    </div>



    <div>
        <p class="comment2" th:if="${session.isEmpty()}">로그인 후 댓글을 작성할 수 있습니다.</p>
    </div>

    <div>
        <form th:unless="${session.isEmpty()}" th:action="@{/}" th:object="${dto}" method="post">
            <div class="input-group" style="width:auto">

                <label for="content" class="form-label mt-4" hidden>댓글 작성</label>
                <input type="text" th:field="*{content}" class="form-control" id="content" name="content"
                               placeholder="1자에서 100자 이내로 입력해주세요.">
                <div class="field-error" th:errors="*{content}">
                            오류2
                </div>
                <button type="submit" class="btn btn-outline-dark">작성</button>
                <br>
            </div>
        </form>


        <div class="col-5 p-3">
            <button type="button" class="btn btn-secondary">수정</button>
            <button type="button" class="btn btn-danger">삭제</button>

        </div>

    </div>
<script th:inline="javascript">
/*<![CDATA[*/

        window.onload = () => {
        findAllComment();
    }


       // 전체 댓글 조회
       
function findAllComment() {

    const postId = /*[[ ${boardDto.boardno} ]]*/

    $.ajax({
        url : `/board/${postId}/comments`,
        type : 'get',
        dataType : 'json',
        async : false,
        success : function (response) {

            // 1. 조회된 데이터가 없는 경우
            if ( !response.length ) {
                document.querySelector('.cm_list').innerHTML = '<div class="cm_none"><p>등록된 댓글이 없습니다.</p></div>';
                return false;
            }

            // 2. 렌더링 할 HTML을 저장할 변수
            let commentHtml = '';

            // 3. 댓글 HTML 추가
            response.forEach(row => {
                commentHtml += `
                    <div>
                       <p class="writer">
                            <em>${row.writer}</em>
                            <span class="date">${dayjs(row.createdDate).format('YYYY-MM-DD HH:mm')}</span>
                        </p>
                        <div class="cont"><div class="txt_con">${row.content}</div></div>
                        <p class="func_btns">
                            <button type="button" class="btns"><span class="icons icon_modify">수정</span></button>
                            <button type="button" class="btns"><span class="icons icon_del">삭제</span></button>
                        </p>
                    </div>
                `;
            })

            // 4. class가 "cm_list"인 요소를 찾아 HTML을 렌더링
            document.querySelector('.cm_list').innerHTML = commentHtml;
        },
        error : function (request, status, error) {
            console.log(error)
        }
    })
}
/*]]>*/
</script>
</div>
</body>
</html>