<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시글썸네일</title>

 <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
   <script
  src="https://code.jquery.com/jquery-3.7.0.slim.js"
  integrity="sha256-7GO+jepT9gJe9LB4XFf8snVOjX3iYNb0FHYr5LI1N5c="
  crossorigin="anonymous"></script>

    <link href="/css/commonstyle.css" rel="stylesheet">
</head>
<body layout:fragment="content">
<script th:if="${msg} == 'SUCCESS_REMOVE'">alert("게시글을 삭제했습니다.")</script>
<script th:if="${msg} == 'NO_LOGIN'"> alert("로그인이 필요합니다.")</script>
<div class="page">

<!--인기글 상위 3개만 출력 -->

<div class="row justify-content-center">
    <th:block th:each="topBoardDto : ${topBoardDtoList}">
    <div class="col-sm-3 m-3" style="color:black" >
        <span class="card gap-1">
            <a th:href="@{/board/read(boardno=${topBoardDto.boardno})}">
            <div class="card-body" >
              <h5 class="card-title" th:text="${topBoardDto.board_title}">제목</h5>
              <p class="card-text" th:text="${topBoardDto.board_content}">내용</p>
              <div class="text-end"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-chat-right-heart-fill" viewBox="0 0 16 16">
                    <path d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353V2ZM8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
              </svg><small class="card-subtitle sm-1" th:text="${topBoardDto.likecount}"></small>
              </div>
            </div>
            </a>
        </span>
    </div>
    </th:block>
</div>


<div class="container">
    <form id="form" name="search-form" action="/board/list" method="get" class="row m-2">
        <div class="col-sm-5">
            <div class="btn-group" role="group">
                <input type="radio" name="ani_category" value="2" class="btn-check" id="all-check" autocomplete="off" th:checked="${sc.ani_category eq 2}">
                <label class="btn btn-outline-dark" for="all-check">전체</label>

                <input type="radio" name="ani_category" value="0" class="btn-check" id="dog-check" autocomplete="off" th:checked="${sc.ani_category eq 0}">
                <label class="btn btn-outline-dark" for="dog-check">강아지</label>

                <input type="radio" name="ani_category" value="1" class="btn-check" id="cat-check" autocomplete="off" th:checked="${sc.ani_category eq 1}">
                <label class="btn btn-outline-dark" for="cat-check">고양이</label>
            </div>
        </div>
        <div class="col-sm-3" id="spacer"></div>

        <div class="col-sm-4">

            <div class="input-group">
                <div class="input-group-text" id="btnGroupAddon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </div>
                <input type="hidden" name="page" th:value="${sc.getPage()}"/>
                <input type="hidden" name="pageSize" th:value="${sc.getPageSize()}"/>

                <input type="text" name="keyword" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon">
                <input type="button" id="searchBtn" class="btn btn-outline-primary" value="검색">
            </div>

        </div>
    </form>
    <div class="col-sm-12">
        <div class="btn-group float-end" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-dark m-2"
                    th:onclick="|location.href='@{/board/write(page = ${sc.getPage} , pageSize = ${sc.getPageSize} , keyword=${sc.getKeyword})}'|">
                글작성</button>
        </div>
    </div>
</div>

<div class="container">
    <table border="1" class="table table-bordered table-striped table-hover" id="boardtable">
        <thead>
        <tr>
            <th class="th_title">제목</th>
            <th class="th_thumbnail">이미지</th>
        </tr>
        </thead>
        <tbody th:each="boardDto : ${boardDtoList}">

            <tr>
                <td style="position : relative;">
                    <a th:href="@{/board/read(boardno=${boardDto.boardno}, page=${sc.getPage()} , pageSize=${sc.getPageSize()} , keyword=${sc.getKeyword()} )}">
                    <div class="title_wrapper" style="position : absolute;top:40%;left:5%">
                        <span class="title" th:text="${boardDto.board_title}" style="color:black">----제목---</span>
                    </div>
                    </a>
                    <div class="m-1" style="position : absolute;bottom : 0;">
                        <!-- Controller에서 따로 LoginID 전달해서 수정해야 함 , 로그인 연결 후 진행 -->
                        <i class="fas fa-user-edit"></i>&nbsp<span class="info_table" th:text="${boardDto.id}"> 유저id : 12312314</span>
                        <i class="far fa-eye"></i>&nbsp<span class="info_table" th:text="${boardDto.board_viewcount}" > 조회수 : 42</span>
                        &nbsp&nbsp<span class="info_table" th:text="|${#dates.format(boardDto.board_reg_date, 'yyyy-MM-dd (HH:mm:ss)')}|"> 등록일 : 2019-05-14</span>
                    </div>
                </td>
                <td valign="middle" class="vstack">
                        <!-- 썸네일 이미지  -->
                        <img th:if="${boardDto.fileAttached == 1}" class="thumbnail_wrapper mx-auto" th:src="@{|/upload/board/${boardDto.storedFileName[0]}|}" width="150px" height="150" />
                        <img th:if="${boardDto.fileAttached == 0}" class="thumbnail_wrapper mx-auto" src="/img/empty.png" width="150px" height="150">
                </td>
            </tr>

        </tbody>
    </table>
</div>
    <div class="ph-wrapper">
        <span th:if="${totalCnt == 0}">게시물이 없습니다.</span>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group m-auto btn-group-sm" role="group" aria-label="First group">
                <button type="button" style="width:30px;height:40px;" class="btn btn-primary" th:if="${ph.showPrev}" th:onclick="|location.href='@{'/protectboard/list'+${ph.sc.getQueryString(ph.beginPage - 1)}}'|">&lt;</button>
                <th:block th:if="${not #strings.isEmpty(ph.totalCnt)}" th:each="i : ${#numbers.sequence(ph.beginPage,ph.endPage)}">
                    <button type="button" style="width:30px;height:40px" class="btn btn-secondary" th:class="${ph.sc.page == i ? 'btn btn-primary' : 'btn btn-secondary'}" th:onclick="|location.href='@{'/protectboard/list'+${ph.sc.getQueryString(i)}}'|" th:text="${i}"></button>
                </th:block>
                <button type="button" style="width:30px;height:40px" class="btn btn-primary" th:if="${ph.showNext}" th:onclick="|location.href='@{'/protectboard/list'+${ph.sc.getQueryString(ph.endPage + 1)}}'|">&gt;</button>
            </div>

        </div>
    </div>

    <script th:inline="javascript">
        console.log([[${topBoardDtoList}]]);

        $('#searchBtn').on("click",function(){
            let form = $('#form');
            form.submit();
        });
        $('input[name=ani_category]').on("click" , function(){
            let form = $('#form')
            form.submit();
        })

        $('input[name=ani_category]').on("click", function (){
            let from = $('#searchFrom');
            from.submit();
        })

        /*<![CDATA[*/

        //테스트용 콘솔창데이터확인용
        const boardList = [[${list}]];
        console.log(boardList);


        function getSearchList(){
            $.ajax({
                type: 'GET',
                url : "/board/Search",
                data : $("form[name=search-form]").serialize(),
                success : function(result){
                    //테이블 초기화
                    $('#boardtable > tbody').empty();
                    if(result.length>=1){
                        result.forEach(function(item){
                            //결과창
                        })
                    }
                }
            })
        }


        /*]]>*/
    </script>
</div>
</body>
</html>