<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.poinhanshin.mapper.board.LikeMapper">
    <select id="likeCheck" resultType="int" parameterType="map">
        SELECT COUNT(*)
        FROM likeboard
        WHERE like_boardno = #{like_boardno} and like_userno = #{like_userno}
    </select>
    <insert id="addLike" parameterType="map">
        INSERT INTO likeboard (like_boardno , like_userno)
        VALUES (#{like_boardno} , #{like_userno})
    </insert>
    <delete id="deleteLike" parameterType="map">
        DELETE FROM likeboard
        WHERE like_boardno = #{like_boardno} and like_userno = #{like_userno}
    </delete>
    <update id="updateLikeCnt" parameterType="map">
        UPDATE board
        SET likecount = likecount + #{num}
        WHERE boardno = #{boardno}

    </update>
</mapper>