body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}*{
     font-family: 'Nanum Gothic Coding', cursive;
 }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    min-height: 80vh;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.favorites-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    min-width: 70vh;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.favorites-list {
    max-height: 100%;
    flex-grow: 1;
}

#favoritesList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.find-route-button {
    margin-left: 20px; /* 버튼과 즐겨찾기 목록 사이에 여백을 줍니다. */
    align-self: flex-start; /* 버튼을 위로 정렬합니다. */
}

#map {
    width: 80%;
    height: 50vh;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    transition: background-color 0.3s;
}
li:hover {
    background-color: #f5f5f5;
}


.post-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.header-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 50px;
}

.header-right {
    text-align: right;
    color: #888;
}

.filter-container {
    margin-right: 20px;
}

label {
    font-weight: bold;
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    outline: none;
}

select option:checked {
    background-color: #007bff;
    color: #fff;
}

.icon-btn {
    text-align: right;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(0, 0, 0, 0);
    margin-right: 3px
}