<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.poinhanshin.mapper.protectboard.ProtectBoardMapper">
    <select id="count" resultType="int">
        Select count(*) FROM protectboard
    </select>
    <select id="selectContentAll" resultType="com.project.poinhanshin.domain.protectboard.ProtectBoardDto">
        Select protectboard_id , protectboardno , content , protectimagepath , breeds , ani_category , writedate  , status , deadline
        FROM protectboard
        ORDER BY deadline ASC , protectboardno ASC
    </select>
    <select id="SelectContentOne" resultType="com.project.poinhanshin.domain.protectboard.ProtectBoardDto" parameterType="String" >
        SELECT protectboard_id , protectboardno , content , protectimagepath , breeds , ani_category , writedate  , status , deadline
        FROM protectboard
        WHERE protectboardno = #{protectboardno}
    </select>
</mapper>