body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.post-list {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    min-height: 50vh;
}

.post {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 20vh;
}

.post-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.header-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
}

.header-right {
    text-align: right;
    color: #888;
}

.animal-type {
    font-weight: bold;
    color: #333;
}

.time {
    color: #777;
}

.post-image {
    max-width: 100%;
    margin-bottom: 10px;
    max-height: 10vh;
}

.post-content p {
    color: #555;
}

.location {
    font-size: 14px;
    color: #555;
}

.author-category {
    font-size: 14px;
    color: #007bff;
}

.icon-btn {
    text-align: right;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(0, 0, 0, 0);
    margin-right: 3px
}

.filter-container {
    margin-right: 20px;
}

label {
    font-weight: bold;
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    outline: none;
}

select option:checked {
    background-color: #007bff;
    color: #fff;
}

.p