body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}*{
     font-family: 'Nanum Gothic Coding', cursive;
 }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.favorites-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 50px;
}

.favorites-list {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    /*flex-grow: 1;*/
}

#favoritesList {
    overflow-y: auto;
    list-style-type: none;
    padding: 20px;
    margin-bottom: 20px;
}

#map {
    width: 80%;
    height: 50vh;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 5px;
    background-color: #fff;
    border: 1px solid rgba(204, 204, 204, 0.55);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}
li:hover {
    background-color: #f5f5f5;
}


.post-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.header-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 50px;
}

.header-right {
    text-align: right;
    color: #888;
}

.filter-container {
    margin-right: 20px;
}

label {
    font-weight: bold;
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    outline: none;
}

select option:checked {
    background-color: #007bff;
    color: #fff;
}

.icon-btn {
    text-align: right;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(0, 0, 0, 0);
    margin-right: 3px
}

.post-footer {
    display: flex;
    flex-direction: column;
}

.popupbox {
    position:relative; height:150px;
    padding:10px; display: flex; flex-direction: column;
   overflow-y: auto;
}
