<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.poinhanshin.mapper.member.MyPageMapper">
    <update id="updateUser" parameterType="com.project.poinhanshin.domain.member.User">
        update users
        set id = #{id},
            password = #{password},
            name = #{name},
            age = #{age},
            phnum = #{phnum},
            mail = #{mail},
            address = #{address}
       where userno = #{userno}
    </update>

    <delete id="dismissUser" parameterType="Long">
        delete from users where userno = #{userno};
    </delete>
</mapper>