<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.poinhanshin.mapper.member.MyPageMapper">
    <update id="updateUser" parameterType="com.project.poinhanshin.domain.member.User">
        update users
        set id = #{id},
            password = #{password},
            name = #{name},
            age = #{age},
            phnum = #{phnum},
            mail = #{mail},
            address = #{address}
       where userno = #{userno}
    </update>

    <delete id="dismissUser" parameterType="Long">
        delete from users where userno = #{userno};
    </delete>

    <select id="selectMyBoard" parameterType="int" resultType="com.project.poinhanshin.domain.board.BoardDto">
        SELECT u.id , b.board_userno , b.boardno , b.board_title , b.board_content , b.board_ani_category , b.board_reg_date , b.board_viewcount , b.commentcount , b.likecount , b.fileAttached
        FROM users u, board b, mypage m
        WHERE u.userno = m.mypage_userno and b.boardno = m.mypage_boardno and m.mypage_userno = #{userno}
    </select>

    <select id="writeMyBoard" parameterType="int" resultType="com.project.poinhanshin.domain.board.BoardDto">
        SELECT u.id , b.board_userno , b.boardno , b.board_title , b.board_content , b.board_ani_category , b.board_reg_date , b.board_viewcount , b.commentcount , b.likecount , b.fileAttached
        FROM users u, board b
        WHERE u.userno = b.board_userno and b.board_userno = #{userno}
    </select>
</mapper>