<!DOCTYPE HTML>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <meta charset="utf-8">
 <link href="/css/commonstyle.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</head>
<script th:inline="javascript">
    const msg = [[${#httpServletRequest.getAttribute('msg')}]];
    if (msg === "LOGIN_OK") alert("환영합니다");
</script>
<body layout:fragment="content">
<div class="page">
<div class="container mt-3">
  <div class="row row-cols-1 row-cols-md-2 g-4">



              <div class="col">
                <div class="card" >
                  <div class="card-body chart" >
    <!-- 그래프내부데이터  <script>에서 타임리프변수 참고-->
                    <!--일간그래프 -->
                    <canvas class="" id="myChartDaily"></canvas>
                  </div>
                </div>
              </div>

              <div class="col">
                    <div class="card" >
                      <div class="card-body chart" >
                        <!--월간그래프 -->
                        <canvas class="" id="myChartWeek"></canvas>
                      </div>
                    </div>
              </div>





          <div class="col">

            <div class="card">
              <div class="card-body chart">
                <!--유기동물 등록현황 당일-->
                <canvas class="" id="myChartLost"></canvas>
              </div>
            </div>
          </div>

            <div class="col">
              <div class="card">
                <div class="card-body chart">
                    <!--실종신고 주간 현황-->
                    <canvas class="" id="myChartFinder"></canvas>
                </div>
              </div>
            </div>




  </div>
</div>

    <div class="card-group mt-3 p-5">

        <div class="card">
          <a href="@{/board/list}" style="color:black">
            <img src="/img/empty.png" class="card-img-top" alt="커뮤니티img">
              <div class="card-body">
                <h5 class="card-title text-center">커뮤니티</h5>
              </div>
          </a>
        </div>

        <div class="card">
          <a href="@{/information/MBTI}" style="color:black">
            <img src="/img/empty.png" class="card-img-top" alt="mbtiimg">
            <div class="card-body">
              <h5 class="card-title text-center">MBTI 매칭</h5>
            </div>
          </a>
        </div>
        <div class="card">
            <a href="" style="color:black">
              <img src="/img/map.png" class="card-img-top" alt="맵이미지">
              <div class="card-body">
                <h5 class="card-title text-center">신고/등록 MAP</h5>
              </div>
            </a>
        </div>
    </div>


    <table class="table table-bordered table-striped table-hover">
      <th>
        <div class="col">
          <button class="w-100 btn btn-dark btn-lg"
                  onclick="location.href='items.html'"

                  th:onclick="|location.href='@{/api/AnimalList}'|" type="button">
            유기동물보호리스트

          </button>
        </div>
      </th>
    </table>

</div>

  <script th:inline="javascript">
  /*<![CDATA[*/
var daily = /*[[ ${data_daily} ]]*/[];     // 당일 (api)데이터
var week = /*[[ ${data_week} ]]*/[];      // 일주일단위 (api)
var finder = /*[[ ${data_finder} ]]*/[]; // 실종신고 그래프 (일주일)
var lost = /*[[ ${data_lost} ]]*/[];    // 당일 유기견/묘 등록 현황

var ctxA = document.getElementById("myChartDaily").getContext('2d');

var dailyChart = new Chart(ctxA, {
    type: 'doughnut',
    data: {
        labels: ["강아지", "고양이"],
        datasets: [{
            data: daily, // Specify the data values array

            borderColor: ['#2196f38c', '#f443368c', '#3f51b570', '#00968896'], // Add custom color border
            backgroundColor: ['#2196f38c', '#f443368c', '#3f51b570', '#00968896'], // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
        }]},
    options: {
      responsive: true, // Instruct chart js to respond nicely.
      maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
    }
});


var ctxB = document.getElementById("myChartWeek").getContext("2d");

var weekChart = new Chart(ctxB, {
      type: "line",
      data: {
        labels: ["January", "February", "March", "April", "May", "June"],
        datasets: [{
          label: "주간",
          data: week // [10, 20, 30, 40, 50, 60]
        }]
      },
      options: {
        responsive: true, // Instruct chart js to respond nicely.
        maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
         aspectRatio : 1,
        title: {
          text: "My Chart"
        },
        tooltips: {
          enabled: true
        }
      }
    });



var ctxC = document.getElementById("myChartFinder").getContext("2d");

var finderChart = new Chart(ctxC, {
      type: "line",
      data: {
        labels: ["January", "February", "March", "April", "May", "June"],
        datasets: [{
          label: "주간(실종)",
          data: finder // [10, 20, 30, 40, 50, 60]
        }]
      },
      options: {
        responsive: true, // Instruct chart js to respond nicely.
        maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
        aspectRatio : 1,
        title: {
          text: "My Chart"
        },
        tooltips: {
          enabled: true
        }
      }
    });

var ctxD = document.getElementById("myChartLost").getContext("2d");

var lostChart = new Chart(ctxD, {
      type: "doughnut",
      data: {
        labels: ["유기견", "유기묘"],
        datasets: [{
          label: "당일",
          data: lost, // [10, 20]
            borderColor: ['#2196f38c', '#f443368c', '#3f51b570', '#00968896'], // Add custom color border
            backgroundColor: ['#2196f38c', '#f443368c', '#3f51b570', '#00968896'], // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
        }]
      },
      options: {
        responsive: true, // Instruct chart js to respond nicely.
        maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
        title: {
          text: "My Chart"
        },
        tooltips: {
          enabled: true
        }
      }
    });




    /*]]>*/
  </script>
  </div>
</div>
</body>
</html>