<!DOCTYPE HTML>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>-->
  <style>
   @media (min-width: 768px) {
      .page {
        width: 600px;
      }
    }

    @media (min-width: 992px) {
      .page {
        width: 940px;
      }
    }

    @media (min-width: 1200px) {
      .page {
        width: 940px;
      }
    }

  html,body{
       width: 100%;
       height: 100%;
   }
  .page {
        margin: 0 auto;
        height: 100%;
        padding: 50px;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom-width: 2px;
    }
    </style>
</head>

<body layout:fragment="content">
<div class="page">
<div class="container-fluid p-5">
  <div class="d-flex justify-content-center">
      <div class="w-200 m-1">
        <div class="row">
          <div class="col-sm-6 lg-12 col-xxl-6 d-flex">
            <div class="card flex-fill">
              <div class="card-body">
                <!--월평균 -->
                <canvas class="" id="myChart" width="400" height="400" ></canvas>
              </div>
            </div>
          </div>
          <div class="col-sm-6 lg-12 col-xxl-6 d-flex">
            <div class="card flex-fill">
              <div class="card-body">
                <!--일평균 -->
                <canvas class="" id="myChartA" width="400" height="400" ></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 lg-12 col-xxl-6 d-flex">
            <div class="card flex-fill">
              <div class="card-body">
                <!--실종신고 동물별 현황-->
                <canvas class="" id="myChart" width="300" height="300" ></canvas>
              </div>
            </div>
          </div>

          <div class="col-sm-6 lg-12 col-xxl-6 d-flex">
            <div class="card flex-fill">
              <div class="card-body">
                <!--유기동물 등록현황-->
                <canvas class="" id="myChartA" width="300" height="300" ></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
    <div class="card-group">

        <div class="card">
          <a href="@{/board/list}">
            <img src="" class="card-img-top" alt="커뮤니티img">
              <div class="card-body">
                <h5 class="card-title">커뮤니티</h5>
              </div>
          </a>
        </div>

        <div class="card">
          <a href="@{/information/MBTI}">
            <img src="\static\img\MBTITestImg.jpg" class="card-img-top" alt="mbtiimg">
            <div class="card-body">
              <h5 class="card-title">MBTI 매칭</h5>
            </div>
          </a>
        </div>
        <div class="card">
            <a href="">
              <img src="" class="card-img-top" alt="맵이미지">
              <div class="card-body">
                <h5 class="card-title">실종 신고/등록 MAP</h5>
              </div>
            </a>
        </div>
    </div>


    <table class="table table-bordered table-striped table-hover">
      <th>
        <div class="col">
          <button class="w-100 btn btn-dark btn-lg"
                  onclick="location.href='items.html'"
                  th:onclick="|location.href='@{/board/list}'|" type="button">
            커뮤니티
          </button>
        </div>
      </th>
      <th>
        <div class="col">
          <button class="w-100 btn btn-dark btn-lg"
                  onclick="location.href='items.html'"
                  th:onclick="|location.href='@{/information/MBTI}'|" type="button">
            MBTI
          </button>
        </div>
      </th>
      <th>
        <div class="col">
          <button class="w-100 btn btn-dark btn-lg"
                  onclick="location.href='items.html'"
                  th:onclick="|location.href='@{/information/AnimalList}'|" type="button">
            유기물보호리스트
          </button>
        </div>
      </th>
    </table>
  <script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ["강아지", "고양이", "기타"],
        datasets: [{
            data: [50, 30 , 11], // Specify the data values array

            borderColor: ['#2196f38c', '#f443368c', '#3f51b570', '#00968896'], // Add custom color border
            backgroundColor: ['#2196f38c', '#f443368c', '#3f51b570', '#00968896'], // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
        }]},
    options: {
      responsive: true, // Instruct chart js to respond nicely.
      maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
    }
});


var ctxA = document.getElementById("myChartA").getContext("2d");
var chart = new Chart(ctxA, {
      type: "line",
      data: {
        labels: ["January", "February", "March", "April", "May", "June"],
        datasets: [{
          label: "My Data",
          data: [10, 20, 30, 40, 50, 60]
        }]
      },
      options: {
        responsive: true, // Instruct chart js to respond nicely.
        maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
        title: {
          text: "My Chart"
        },
        tooltips: {
          enabled: true
        }
      }
    });
  </script>
  </div>
</div>
</body>
</html>