<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8">
  <title>게시물 목록 보기</title>
  <link rel="stylesheet" type="text/css" href="css/maplist.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans:400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:800" rel="stylesheet">
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body layout:fragment="content">
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <!-- 드롭다운 필터 -->
      <div class="mb-3">
        <label class="form-label" for="animal-filter">동물 선택:</label>
        <select class="form-select" id="animal-filter">
          <option value="2">전체</option>
          <option value="1">고양이</option>
          <option value="0">강아지</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <!-- 신고자/발견자 선택 드롭다운 필터 -->
      <div class="mb-3">
        <label class="form-label" for="author-filter">신고자/발견자 선택:</label>
        <select class="form-select" id="author-filter">
          <option value="2">전체</option>
          <option value="0">신고자</option>
          <option value="1">발견자</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <!-- 지역 선택 드롭다운 필터 -->
      <label class="form-label" for="locatin-filter">지역 선택:</label>
      <div class="mb-3 d-flex align-items-center">
        <input type="text" class="form-control" style="width: 300px;" id="locatin-filter" placeholder="지역">
        <input type="button" class="btn mx-1 btn-outline-dark" onclick="map_Postcode()" value="지역 찾기">
      </div>
    </div>
    <div class="header-right">
      <button class="icon-btn" onclick="location.href='findmapmain.html'" data-toggle="tooltip" data-placement="top" title="지도">
        <i class="fa-solid fa-map fa-2xl" style="color: #7605ff;"></i>
      </button>
      <button class="icon-btn" onclick="location.href='findmaplist.html'" data-toggle="tooltip" data-placement="top" title="리스트뷰">
        <i class="fa-solid fa-list-ul fa-2xl" style="color: #7605ff;"></i>
      </button>
      <button class="icon-btn" onclick="location.href='findmapreg.html'" data-toggle="tooltip" data-placement="top" title="글 작성하기">
        <i class="fa-regular fa-pen-to-square fa-2xl" style="color: #7605ff;"></i>
      </button>
    </div>
  </div>
  <ul class="post-list">
    <li class="post">
      <div class="post-header">
        <strong class="animal-type" th:text="'품종:'${mapboard.mapboard_ani_category}">품종: </strong>
      </div>
      <div class="post-content">
        <div class="header-right">
          <img class="post-image" th:src="${mapboard.mapboard_imagepath}" th:alt="${mapboard.animalType}" alt="빈이미지">
          <img class="post-image" src="../../static/img/mbti/image-0.png" alt="Dog">
        </div>
      </div>
      <div class="post-footer" style="display: flex; flex-direction: column">
        <span class="writertype" th:text="'실종/발견자: ' + ${mapboard.writertype}">실종/발견자: </span>
        <span class="address" th:text="'실종/발견 장소: ' + ${mapboard.missingaddress}">실종/발견 장소: </span>
        <span class="datetime" th:text="'실종/발견 날짜 및 시간: ' + ${mapboard.missingdatetime}">실종/발견 날짜 및 시간: </span>
      </div>
      <div class="header-right">
        <span class="mapboard_reg_date" th:text="'작성일: ' +${mapboard.mapboard_reg_date}">작성일: </span>
        <span class="mapboard_userno" th:text="'작성자: ' +${mapboard.mapboard_userno}">작성자: </span>
      </div>
    </li>
  </ul>
</div>
<div class="d-flex justify-content-center">
<div class="btn-group" role="group" aria-label="First group">
  <button class="btn btn-outline-secondary">&lt;&lt;</button>
  <button type="button" class="btn btn-primary" onclick="location.href=''">1</button>
  <button type="button" class="btn btn-outline-secondary" onclick="location.href='/api/ShelterList?page=11&amp;pageSize=10&amp;keyword=&amp;option=&amp;ani_category=2&amp;writeType=2'">&gt;&gt;</button>
</div>
</div>
<!--text="${boardDto.boardno}"-->
<script>
  //주소 검색 카카오(다음)api(활용시 주소 검색후 map으로 다시 검색후 경도/위도 반환 가능)
  function map_Postcode() {
    new daum.Postcode({
      oncomplete: function(data) {
        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

        document.getElementById('locatin-filter').value = data.bname;
        // 커서를 상세주소 필드로 이동한다.
        document.getElementById("locatin-filter").focus();
      }
    }).open();
  }

</script>
</body>
</html>